{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
<center><button class="btn btn-primary ml" type="submit">{{ button_label|default('Save') }}</button></center>
{{ form_end(form) }}
